.dayplanner-container{
    display: flex;
    flex-direction: column;
   align-items: center;
    min-height: 62vh;
    min-width: 80vw;
    
}

.dayplanner-container h1{
    align-self: flex-start;
}

.placeholder {
  width: 150px;
  height: auto;
  display: block;
}

.dayplanner-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 2rem;
  gap: 1rem; 
  

  width: 95vw;
  max-height: 220px; /* <-- this is the key */
}


.dayplanner-list li{
    list-style: none;
}

