services:
  postgres:
    container_name: postgres_db
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./data_init:/docker-entrypoint-initdb.d

  adminer:
    container_name: adminer_ui
    image: adminer
    ports:
      - "5050:8080"
    depends_on:
      - postgres

volumes:
  postgres_data: