.hero {
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;

  background: linear-gradient(
    to bottom,
    #e3e6e6 0%,
    #f7f7f7 100%
  );
}

.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 0.75rem;
  color: #222;
}

.hero p {
  font-size: 1.1rem;
  color: #555;
}
