:root {
  --bg: #ffffff;
  --text: #111111;
  --accent: #4f46e5;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}



button {
  font-family: inherit;
}

.placeholder{
  width: 150px;
}
